<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
    <div class="container">
      <hr />
      <h2>Investidores</h2>
  
      <hr />
      <a class="btn btn-primary" href="/admin/investidor/new"
      >Novo Investidor</a
    >
    <hr />

    <table id="tab" data-type="table-menu" class="table table-bordered">
      <thead>
        <tr id="table-header">
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>CPF / CNPJ</th>
          <th>Cep</th>
          <th>Logradouro</th>
          <th>UF</th>
          <th>Cidade</th>
          <th>Número</th>
        </tr>
      </thead>
      <tbody id="demo">
        <% investidores.forEach(investidor => { %>
        <tr href="/<%= investidor.slug %>">
          <td><%= investidor.name %></td>
          <td><%= investidor.phone %></td>
          <td><%= investidor.email %></td>
          <td><%= investidor.cpf %></td>
          <td><%= investidor.cep %></td>
          <td><%= investidor.logradouro %></td>
          <td><%= investidor.uf %></td>
          <td><%= investidor.cidade %></td>
          <td><%= investidor.number %></td>
          <td>
            <a
              href="/admin/investidor/edit/<%= investidor.id %>"
              class="btn btn-warning"
              >Editar</a
            >
            <form
              method="POST"
              action="/investidor/delete"
              style="display: inline;"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= investidor.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

      </div>
      </body>


<%- include ("../../partials/footer.ejs") %>